extends layout

block content
  div.page
    div.cover(data-image="/img/photos/header.jpg")
      div.cover-top
        div.container
          div.row
            div.offset-lg-3.col-lg-6
              h1 #{t('nav.download')}
              p #{t('nav.download')} REBUILD
      div.cover-bottom
        div.container
          div.row
            div.col-lg-12
              ol.breadcrumb
                li
                  a(href="/") #{t('indexPage')}
                li.active #{t('nav.download')}

    div.page-bottom
      div.container
          div.row
            div.col-lg-12.center-text.margin-bottom-0
              a.btn-primary-line.colored.margin-bottom-0(href="https://github.com/getrebuild/rebuild/releases") #{t('download.byGithub')}
