extends layout

block content
  //- Top banner
  div#welcome.welcome-area
    div.right-bg
      img.img-fluid.float-right(src="/img/photos/header-2.jpg")
    div.header-text
      div.container
        div.row
          div.offset-lg-2.col-lg-8.col-md-12.col-sm-12
            h1 #{t('home.slogan')}
            p #{t('home.introduction')}
            div.buttons
              a.btn-white-line(href="https://nightly.getrebuild.com/") #{t('nav.freeTry')}
              a.btn-primary-line(href="https://github.com/getrebuild/rebuild/") <i class="fa fa-github"></i> GitHub

  //- Very good
  section#introductions.section.home-feature
    div.container
      div.row
        div.col-lg-12
          div.row
            - var home_feats = [['github', t('home.opensource.title'),  t('home.opensource.desc')], ['thumbs-o-up', t('home.selfdesign.title'), t('home.selfdesign.desc')], ['trophy', t('home.vpteam.title'), t('home.vpteam.desc')]]
              each item in home_feats
                div.col-lg-4.col-md-6.col-sm-6.col-12
                  a.features-small-item
                    div.icon
                      i(class='fa fa-' + item[0])
                    h5.features-title #{item[1]}
                    p #{item[2]}

  //- Your needed
  section.section.padding-top-70.padding-bottom-0
    div.container
      div.row
        div.col-lg-5.col-md-12.col-sm-12.align-self-center
          img.rounded.img-fluid.d-block.mx-auto(src="/img/blue-2.png")
        div.col-lg-1
        div.col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-top-fix
          div.left-heading
            h3.section-title #{t('home.yourneed.title')}
          div.left-text
            p #{t('home.yourneed.desc')}
            p #{t('home.yourneed.desc2')}
      div.row
        div.col-lg-12
          div.hr
  section.section
    div.container
      div.row
        div.col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix
          div.left-heading
            h3.section-title #{t('home.letimplemented.title')}
          div.left-text
            p #{t('home.letimplemented.desc')}
            p #{t('home.letimplemented.desc2')}
        div.col-lg-1
        div.col-lg-5.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix-big
          img.rounded.img-fluid.d-block.mx-auto(src="/img/blue-1.png")

  //- Feature
  section#features.parallax(data-image-src="/img/photos/parallax.jpg")
    div.parallax-content
      div.container
        div.row
          div.offset-lg-3.col-lg-6
            div.info
              h2 #{t('feature.title')}
              p #{t('feature.subtitle')}
        div.row
          - var major_feats = [['cubes', t('feature.entity.title'), t('feature.entity.desc')], ['bolt', t('feature.permission.title'), t('feature.permission.desc')], ['check', t('feature.auditing.title'), t('feature.auditing.desc')], ['pie-chart', t('feature.analytics.title'), t('feature.analytics.desc')], ['cloud-upload', t('feature.migration.title'), t('feature.migration.desc')], ['code', t('feature.freely.title'), t('feature.freely.desc')]]
            each item in major_feats
              div.col-lg-2.col-md-3.col-sm-6.col-6
                a.mini-box
                  i(class='fa fa-' + item[0])
                  strong #{item[1]}
                  span #{item[2]}

  //- Pricing
  section#pricing-plans.section.colored
    div.container
      div.row
        div.col-lg-12
          div.center-heading
            h2.section-title #{t('buylicense.title')}
        div.offset-lg-3.col-lg-6
          div.center-text
            p #{t('buylicense.desc')}
      div.row
        div.col-lg-4.col-md-6.col-sm-12
          div.pricing-item
            div.pricing-header
              h3.pricing-title #{t('license.personal.title')}
            div.pricing-body
              div.price-wrapper
                span.currency #{t('license.currency')}
                span.price #{t('license.personal.price')}
                span.period
              ul.list
                li.active #{t('license.commercial')}
                li.active #{t('license.1developers')}
                li.active #{t('license.versionSupport')}
                li.active #{t('license.githubSupport')}
                li - 
                li.active #{t('license.noDistribution')}
            div.pricing-footer
              a.btn-primary-line(href="mailto:getrebuild@sina.com?subject=BuyLicense") #{t('license.buynow')}
        div.col-lg-4.col-md-6.col-sm-12
          div.pricing-item
            div.pricing-header
              h3.pricing-title #{t('license.team.title')}
            div.pricing-body
              div.price-wrapper
                span.currency #{t('license.currency')}
                span.price #{t('license.team.price')}
                span.period #{t('license.starting')}
              ul.list
                li.active #{t('license.commercial')}
                li.active #{t('license.ndevelopers')}
                li.active #{t('license.versionSupport')}
                li.active #{t('license.githubSupport')}
                li.active #{t('license.onlineTraining')}
                li.active #{t('license.noDistribution')}
            div.pricing-footer
              a.btn-primary-line(href="mailto:getrebuild@sina.com?subject=BuyLicense") #{t('license.buynow')}
        div.col-lg-4.col-md-6.col-sm-12
          div.pricing-item
            div.pricing-header
              h3.pricing-title #{t('license.company.title')}
            div.pricing-body
              div.price-wrapper
                span.currency #{t('license.currency')}
                span.price #{t('license.company.price')}
                span.period #{t('license.starting')}
              ul.list
                li.active #{t('license.commercial')}
                li.active #{t('license.xdevelopers')}
                li.active #{t('license.versionSupport')}
                li.active #{t('license.onlineSupport')}
                li.active #{t('license.roomTraining')}
                li.active #{t('license.noDistribution')}
            div.pricing-footer
              a.btn-primary-line(href="mailto:getrebuild@sina.com?subject=BuyLicense") #{t('license.buynow')}
      div.row
        div.offset-lg-2.col-lg-8
          div.center-text.margin-bottom-0
            div(style="margin:20px 0")
              span.oem-icon
                i.fa.fa-building
            p.margin-bottom-0 #{t('license.moreSupport')} <a href="mailto:getrebuild@sina.com?subject=BuyOEM">#{t('contactUs')}</a> #{t('license.forDetail')}
